<% settings = RdaProjectSetting.settings_for_project(@project) %>

<%=
  form_for @project,
    :url => {:action => 'rda_project_settings', :id => @project},
    :html => {:id => 'rda_project_settings-form', :method => :post} do |f|
%>

  <%= hidden_field_tag 'settings[project_id]', @project.id %>
  <%=
    render :partial => 'shared/redmine_default_assignee_settings', :locals => {
      :settings => settings,
      :all_users => @project.users.order(:firstname, :lastname).map{|k| ["#{k.firstname} #{k.lastname}", k.id]}
    }
  %>

  <p>
    <%= submit_tag l(:button_save) %>
    <%= submit_tag l(:button_reset), :name => :reset, :style => 'margin-left: 20px;' %>
  </p>

<% end %>

